<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=-, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1 v-if="!msg">메일 전송 시 반드시 메시지를 넣으셔야 합니다.</h1>
		<h3 v-else>ddd</h3>
		<textarea v-model="msg" cols="40" rows="5"></textarea><br>
		<button v-if="msg">Please!</button>
	</div>

	<script>
		let vm = new Vue({
			el: '#app',
			data: {
				msg: ''
			}
		})
	</script>
</body>
</html>